@use "../abstracts";

.carousel {
  overflow-x: hidden;

  &__wrapper--list {
    padding-left: abstracts.pxToVw(50px);
  }

  &__list {
    display: flex;
  }

  &__item {
    flex: 1 0 calc(100% / 3);
    padding-right: abstracts.pxToVw(50px);
  }

  &__container--controls {
    padding: abstracts.pxToVw(50px);
    text-align: right;
  }

  &__control {
    background-color: transparent;

    &--prev {
      margin-right: abstracts.pxToVw(15px);
    }
  }
}
