@use "../abstracts";

.header {
  &__logo {
    position: fixed;
    height: abstracts.pxToVw(50px);
    width: abstracts.pxToVw(50px);
    top: abstracts.pxToVw(40px);
    left: abstracts.pxToVw(40px);
    mix-blend-mode: difference;
    z-index: 999;
  }
}
