@use "../abstracts";

.nav {
  position: fixed;
  top: abstracts.pxToVw(40px);
  right: abstracts.pxToVw(40px);
  display: flex;
  color: abstracts.$grey-goose;
  z-index: 999;

  &__item {
    text-align: end;
    margin-bottom: abstracts.pxToVw(10px);
  }

  &__link {
    display: block;
    font-size: abstracts.pxToVw(14px);
  }
}
