@use "../abstracts";

.team-card {
  color: abstracts.$romance;

  &__img {
    width: 100%;
    margin-bottom: abstracts.pxToVw(20px);
  }

  &__name {
    margin-bottom: abstracts.pxToVw(10px);
    font-family: "Raleway";
    font-weight: normal;
    font-size: abstracts.pxToVw(18px);
    text-transform: uppercase;
  }
}
