@use "../abstracts" as *;

*,
*:before,
*:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  cursor: none;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &:hover {
    cursor: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

html,
body {
  height: 100vh;
  overflow: hidden;
  background-color: $romance;
}

body {
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

a {
  cursor: pointer;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

svg {
  width: 100%;
  height: 100%;
}
